@charset "UTF-8";
/*------ Fonts ------*/
/*------ Colors ------*/
#sg-style {
  /* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  /*----- Sidebar -----*/
  /*----- Logo -----*/
  /*----- Colors -----*/
  /*----- Visual Elements -----*/ }
  #sg-style section {
    margin-bottom: 20px;
    padding-bottom: 10px;
    overflow: hidden; }
  #sg-style .nine section:nth-of-type(n+3) {
    margin-top: 25px;
    padding-top: 20px; }
  #sg-style .jumbotron {
    background-color: #08BEA3;
    padding-top: 60px; }
    #sg-style .jumbotron h1 {
      font-size: 60px;
      color: #fff; }
  #sg-style .sg--title {
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: .2rem;
    font-weight: 600;
    border-bottom: 1px solid #333; }
  #sg-style .sg--small-title {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .2rem;
    font-weight: 600;
    padding-top: 30px;
    margin-bottom: 30px; }
  #sg-style .sg--example-label {
    background-color: #d9d9d9;
    color: #000;
    font-size: 20px;
    padding: 10px 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  #sg-style .example {
    border: 1px solid #d9d9d9;
    padding: 0px 30px 30px 30px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  #sg-style .sg--type-label {
    padding-bottom: 5px;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: -30px; }
  #sg-style .sg--type-label span {
    background-color: #08BEA3;
    font-size: 14px;
    color: #fff;
    padding: 10px 15px; }
  #sg-style pre {
    margin-bottom: 30px; }
  #sg-style code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px; }
  #sg-style pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre; }
  #sg-style .sg--nav {
    margin-top: 45px; }
    #sg-style .sg--nav .sg--sidebar {
      position: fixed;
      overflow: hidden; }
    #sg-style .sg--nav a {
      color: #08BEA3;
      text-decoration: none; }
    #sg-style .sg--nav ul {
      padding: 0;
      margin: 0;
      list-style: none;
      text-transform: uppercase;
      font-size: 15px;
      letter-spacing: .2rem;
      font-weight: 600; }
      #sg-style .sg--nav ul li {
        margin-bottom: 1rem; }
      #sg-style .sg--nav ul ul {
        font-size: 1.1rem;
        padding-left: 10px;
        border-left: 1px solid #d1d1d1; }
        #sg-style .sg--nav ul ul a {
          color: #000; }
  #sg-style .logo img {
    max-width: 6rem; }
  #sg-style #colors {
    padding-bottom: 60px; }
    #sg-style #colors .color--block {
      height: 100px;
      width: 100px;
      margin-top: 15px;
      margin-right: 15px;
      margin-bottom: 45px;
      float: left; }
    #sg-style #colors .primary-colors {
      padding-bottom: 30px;
      overflow: hidden; }
    #sg-style #colors .secondary-colors {
      margin-top: 15px;
      padding-bottom: 30px;
      overflow: hidden; }
    #sg-style #colors .primary-color--1 {
      background-color: #142b43; }
      #sg-style #colors .primary-color--1:before {
        content: "#142b43";
        display: block;
        margin-top: 110px;
        margin-left: 16px;
        /*position: absolute;*/
        /*top: 150px;*/ }
    #sg-style #colors .primary-color--2 {
      background-color: #16c98d; }
      #sg-style #colors .primary-color--2:before {
        content: "#16c98d";
        display: block;
        margin-top: 110px;
        margin-left: 16px; }
    #sg-style #colors .primary-color--3 {
      background-color: #feef6d; }
      #sg-style #colors .primary-color--3:before {
        content: "#feef6d";
        display: block;
        margin-top: 110px;
        margin-left: 17px; }
    #sg-style #colors .primary-color--4 {
      background-color: #ffc83f; }
      #sg-style #colors .primary-color--4:before {
        content: "#ffc83f";
        display: block;
        margin-top: 110px;
        margin-left: 16px; }
    #sg-style #colors .primary-color--5 {
      background-color: #fa5e5b; }
      #sg-style #colors .primary-color--5:before {
        content: "#fa5e5b";
        display: block;
        margin-top: 110px;
        margin-left: 16px; }
    #sg-style #colors .primary-color--6 {
      background-color: #bf538d; }
      #sg-style #colors .primary-color--6:before {
        content: "#bf538d";
        display: block;
        margin-top: 110px;
        margin-left: 16px; }
    #sg-style #colors .secondary-color--1 {
      background-color: #684e79; }
      #sg-style #colors .secondary-color--1:before {
        content: "#684e79";
        display: block;
        margin-top: 110px;
        margin-left: 16px; }
    #sg-style #colors .secondary-color--2 {
      background-color: #ff708e; }
      #sg-style #colors .secondary-color--2:before {
        content: "#ff708e";
        display: block;
        margin-top: 110px;
        margin-left: 16px; }
    #sg-style #colors .secondary-color--3 {
      background-color: #45a899; }
      #sg-style #colors .secondary-color--3:before {
        content: "#45a899";
        display: block;
        margin-top: 110px;
        margin-left: 16px; }
  #sg-style .button-sizes {
    margin-bottom: 30px; }
  #sg-style .button-styles {
    margin-bottom: 30px; }

/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Utilities
- Clearing
- Media Queries
*/
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sg--container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .sg--container {
    width: 85%;
    padding: 0; } }

/* For devices larger than 550px */
@media (min-width: 550px) {
  .sg--container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }
  .one.column,
  .one.columns {
    width: 4.66666666667%; }
  .two.columns {
    width: 13.3333333333%; }
  .three.columns {
    width: 22%; }
  .four.columns {
    width: 30.6666666667%; }
  .five.columns {
    width: 39.3333333333%; }
  .six.columns {
    width: 48%; }
  .seven.columns {
    width: 56.6666666667%; }
  .eight.columns {
    width: 65.3333333333%; }
  .nine.columns {
    width: 74.0%; }
  .ten.columns {
    width: 82.6666666667%; }
  .eleven.columns {
    width: 91.3333333333%; }
  .twelve.columns {
    width: 100%;
    margin-left: 0; }
  .one-third.column {
    width: 30.6666666667%; }
  .two-thirds.column {
    width: 65.3333333333%; }
  .one-half.column {
    width: 48%; }
  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%; }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%; } }

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.sg--container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
