/*------ Fonts ------*/

$body-font: Raleway, sans-serif;
$body-font-size: 16px;
$body-font-weight: 400;

$h1-font: Raleway, sans-serif;
$h1-font-size: 3rem;
$h1-font-weight: 800;

$h2-font: Raleway, sans-serif;
$h2-font-size: 2.5rem;
$h2-font-weight: 500;

$h3-font: Raleway, sans-serif;
$h3-font-size: 2rem;
$h3-font-weight: 500;


/*------ Colors ------*/

//Primary color

$primary-color-1: #142b43;

$primary-color-2: #16c98d;

$primary-color-3: #feef6d;

$primary-color-4: #ffc83f;

$primary-color-5: #fa5e5b;

$primary-color-6: #bf538d;


//Secondary color

$secondary-color-1: #684e79;

$secondary-color-2: #ff708e;

$secondary-color-3: #45a899;

$secondary-color-4: #8abee5;

$secondary-color-5: #c7e6aa;

$secondary-color-6: #cfcbaf;

//Sucess

$success-color: #16c98d;

//Warning

$warning-color: #c92a16;
